html {
  font-family: Dosis, sans-serif;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, * :before, *::after {
  box-sizing: inherit;
}

main {
  border-color: #9a816d;
  text-align: center;
}

.link-card {
  background-color: #dcd4cd;
  margin: 0 0 1rem;
  text-decoration: none;
}

.link-card h2 {
  font-size: 1.5rem;
  text-align: left;
}

.link {
  color: #fff;
  background-color: #785439;
  border-radius: 8px;
  padding: .4em .75em .5em;
}

.link:hover {
  background-color: #512200;
}

.link-card:hover {
  background-color: #cabdb2;
}

a {
  display: inline-block;
  color: #f0eee8;
  text-decoration: none;
}

p, dl {
  font-family: Georgia, sans-serif;
}

h2, p, dl {
  color: #512200;
}

dt, dd {
  display: inline-block;
  width: 45%;
  margin: 0;
  text-align: left;
  font-size: .875rem;
}

p {
  font-size: 1rem;
  text-align: left;
}

dd {
  font-style: italic;
}
