html {
  background: ;
  font-family: Dosis, sans-serif;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, *: :before, *::after {
  box-sizing: inherit;
}

main {
  border-color: #9a816d;
  text-align: center;
}

.link-card {
  background-color: #dcd4cd;
  margin: 0 0 1rem;
  text-decoration: none;
}

.link {
  color: #fff;
}

.link-card:hover {
  background-color: #cabdb2;
}

a {
  display: inline-block;
  color: #f0eee8;
  background-color:
}

p, dl {
  font-family: Georgia, sans-serif;
}

h2, p, dl {
  color: #512200;
}
